@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility sender {
  background: var(--senderchat);
  border: var(--senderborder);
  padding: 10px;
}

@utility receiver {
  background: var(--receiverchat);
  border: var(--receiverborder);
  padding: 10px;
}

@utility input {
  background: var(--senderchat);
  border: var(--senderborder);
  padding: 10px;
}

@utility swrapper {
  display: flex;
  justify-content: flex-end;
}

@utility rwrapper {
  display: flex;
  justify-content: flex-start;
}

@utility noscrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* @utility noscrollbar::-webkit-scrollbar {
  display: none;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
